<ion-view title="About" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading2" style="color:#000000;">Heading</h1>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="about-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <ion-list id="about-list1">
      <ion-item class="item-avatar" id="about-list-item7">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="about-list-item8">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>